<!DOCTYPE html>
<html>
<head>
	<title>Web Page Title</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-3">
			</div>
			<div class="card col mt-5">
          <div class="card-body">
            <h5 class="card-title text-center">Thank You!</h5>
            <p class="card-text text-center">Your Results Have Been Recorded</p>
            
          </div>
		</div>
		<div class="col-3">
		</div>
	</div>
</div>

</body>
</html>